<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.darkroom.timer"
    android:versionCode="49"
    android:versionName="0.5.8">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name="it.darkroom.timer.combined.CombinedApp"
        android:allowBackup="false"
        android:label="Darkroom"
        android:icon="@drawable/ic_launcher"
        android:usesCleartextTraffic="true"
        android:theme="@android:style/Theme.Holo.NoActionBar">

        <activity android:name=".EnlargementActivity" android:screenOrientation="portrait" android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SonoffArmService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
    
        <activity
            android:name="it.darkroom.assistant.AssistantActivityV2"
            android:screenOrientation="portrait"
            android:exported="false" />
            <activity
            android:name=".maintenance.UseMaintenanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name="it.darkroom.timer.largeformat.LargeFormatActivity" android:screenOrientation="portrait" />
    </application>
</manifest>
